@import "../FormField/FormField.module.css";

.inputWrapper {
  display: flex;
  align-items: center;
}

.input {
  padding-right: 48px;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #9a9a9a;
  margin-left: -32px;
}
