.container {
  display: flex;
}

.toggleSidebarButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .toggleSidebarButton {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #20292d;
    border: 2px solid #fff;
    color: #fff;
    width: 48px;
    height: 48px;
    font-size: 1.25rem;
    z-index: var(--z-index-button);
  }

  .toggleSidebarButton:hover {
    background-color: #20292dba;
  }
}
