.searchField {
  display: flex;
  align-items: center;
  height: 48px;
  width: 248px;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #ccc;
}

.icon {
  color: #20292d;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #20292d;
  padding: 0 8px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 0.875rem;
}

.input::placeholder {
  color: #20292d;
}

@media screen and (max-width: 1024px) {
  .searchField {
    width: 100%;
  }
}
